<key>CFBundleDocumentTypes</key>
<array>
    <dict>
        <key>CFBundleName</key>
        <string>Dogs</string>
        <key>CFBundleDisplayName</key>
        <string>Dogs</string>
        <key>CFBundleExecutable</key>
        <string>dogs</string>
        <key>CFBundleIconFile</key>
        <string>dogs.icns</string>
        <key>CFBundleIcon</key>
        <string>dogs.icns</string>
        <key>CFBundleIdentifier</key>
        <string>org.Flowdev.Dogs</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0.0</string>
        <key>CFBundleVersion</key>
        <string>1.0.0b1</string>
        <key>NSHumanReadableCopyright</key>
        <string>© 2019, FlowDev project</string>
    </dict>
<array>
