<!DOCTYPE html>
<html class="mdl-js" lang="en-US"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <title>Ancestors - Dog Breeding</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link type="text/css" rel="stylesheet" href="/admin/assets/stylesheets/qor_admin_default.css">
    
    
    <script src="/admin/assets/javascripts/vendors.js"></script>
<style>
.qor-menu-container { margin-left: 100px; }
#content { margin-left: 10px; }

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen) > .mdl-layout__header {
    margin-left: 0px;
	padding-left: 240px;
    width: 100%;
}

/* Make button back to dogs look nice: */
.qor-menu > .active:hover > a,
.qor-menu > .active:hover > a:focus,
.qor-menu > .active:hover > a:hover,
.qor-menu > .active > a,
.qor-menu > .active > a:focus,
.qor-menu > .active > a:hover {
    color: #0389a4;
    background-color: #eee;
    cursor: default;
}

/* Make ancestor table look nice: */
.mdl-data-table td {
    position: relative;
    height: 20px;
	max-height: 22px;
    border-top: 1px solid rgba(0,0,0);
    border-bottom: 1px solid rgba(0,0,0);
    border-left: 1px solid rgba(0,0,0);
    border-right: 1px solid rgba(0,0,0);
    padding: 3px 8px;
    box-sizing: border-box;
}
.mdl-data-table td:first-of-type {
    padding-left: 8px;
}
.mdl-data-table {
    border-collapse: separate;
}
.mdl-data-table tbody {
    border-top: 1px solid rgba(0,0,0);
}
.mdl-data-table tbody tr {
    height: 22px;
}
.mdl-data-table tbody tr:hover {
	background-color: #fff;
}
.mdl-data-table td:last-of-type, .mdl-data-table th:last-of-type {
    padding-left: 8px;
    padding-right: 8px;
}
.qor-table__content, .qor-table__content p {
    max-height: 16px;
}
.qor-table td {
    font-size: 14px;
}
table {
    font-size: 14px;
    line-height: 16px;
}
</style>
  </head>

  <body class="qor-theme-slideout">
    
    <a class="visuallyhidden" href="#content" tabindex="1">Skip to content</a>

    <div class="mdl-layout__container"><div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header qor-layout has-drawer is-upgraded" data-upgraded=",MaterialLayout">
      <header class="mdl-layout__header is-casting-shadow has-search">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Ancestors</span>

    <div class="qor-menu-container">
      <ul class="qor-menu">
      <li qor-icon-name="Dogs" class="active">
        <a href="/admin/dogs">Dogs</a>
      </li>
      </ul>
    </div>
          
        </div>
      </header>


      <main class="mdl-layout__content qor-page" id="content">

<div class="qor-page__body">

	<!-- Here the own code starts! -->
	{{if .Error}}
	<p> {{.Error}}</p>
	{{else}}
    <table class="mdl-data-table qor-table">
    <thead>
      <tr>
          <th class="mdl-data-table__cell--non-numeric ">Generation 1</th>
          <th class="mdl-data-table__cell--non-numeric ">Generation 2</th>
          <th class="mdl-data-table__cell--non-numeric ">Generation 3</th>
          <th class="mdl-data-table__cell--non-numeric ">Generation 4</th>
          <th class="mdl-data-table__cell--non-numeric ">Generation 5</th>
          <th class="mdl-data-table__cell--non-numeric ">Generation 6</th>
      </tr>
    </thead>

    <tbody>
        <tr>
            <td rowspan="32" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 0).Name}} / {{ (index .Ancestors 0).ALC}} / {{ (index .Ancestors 0).HD}}</div>
            </td>
            <td rowspan="16" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 1).Name}} / {{ (index .Ancestors 1).ALC}} / {{ (index .Ancestors 1).HD}}</div>
            </td>
            <td rowspan="8" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 2).Name}} / {{ (index .Ancestors 2).ALC}} / {{ (index .Ancestors 2).HD}}</div>
            </td>
            <td rowspan="4" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 3).Name}} / {{ (index .Ancestors 3).ALC}} / {{ (index .Ancestors 3).HD}}</div>
            </td>
            <td rowspan="2" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 4).Name}} / {{ (index .Ancestors 4).ALC}} / {{ (index .Ancestors 4).HD}}</div>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 5).Name}} / {{ (index .Ancestors 5).ALC}} / {{ (index .Ancestors 5).HD}}</div>
            </td>
        </tr>

        <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 6).Name}} / {{ (index .Ancestors 6).ALC}} / {{ (index .Ancestors 6).HD}}</div>
            </td>
        </tr>

        <tr>
            <td rowspan="2" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 7).Name}} / {{ (index .Ancestors 7).ALC}} / {{ (index .Ancestors 7).HD}}</div>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 8).Name}} / {{ (index .Ancestors 8).ALC}} / {{ (index .Ancestors 8).HD}}</div>
            </td>
        </tr>

        <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 9).Name}} / {{ (index .Ancestors 9).ALC}} / {{ (index .Ancestors 9).HD}}</div>
            </td>
        </tr>

        <tr>
            <td rowspan="4" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 10).Name}} / {{ (index .Ancestors 10).ALC}} / {{ (index .Ancestors 10).HD}}</div>
            </td>
            <td rowspan="2" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 11).Name}} / {{ (index .Ancestors 11).ALC}} / {{ (index .Ancestors 11).HD}}</div>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 12).Name}} / {{ (index .Ancestors 12).ALC}} / {{ (index .Ancestors 12).HD}}</div>
            </td>
        </tr>

        <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 13).Name}} / {{ (index .Ancestors 13).ALC}} / {{ (index .Ancestors 13).HD}}</div>
            </td>
        </tr>

        <tr>
            <td rowspan="2" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 14).Name}} / {{ (index .Ancestors 14).ALC}} / {{ (index .Ancestors 14).HD}}</div>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 15).Name}} / {{ (index .Ancestors 15).ALC}} / {{ (index .Ancestors 15).HD}}</div>
            </td>
        </tr>

        <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 16).Name}} / {{ (index .Ancestors 16).ALC}} / {{ (index .Ancestors 16).HD}}</div>
            </td>
        </tr>

        <tr>
            <td rowspan="8" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 17).Name}} / {{ (index .Ancestors 17).ALC}} / {{ (index .Ancestors 17).HD}}</div>
            </td>
            <td rowspan="4" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 18).Name}} / {{ (index .Ancestors 18).ALC}} / {{ (index .Ancestors 18).HD}}</div>
            </td>
            <td rowspan="2" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 19).Name}} / {{ (index .Ancestors 19).ALC}} / {{ (index .Ancestors 19).HD}}</div>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 20).Name}} / {{ (index .Ancestors 20).ALC}} / {{ (index .Ancestors 20).HD}}</div>
            </td>
        </tr>

        <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 21).Name}} / {{ (index .Ancestors 21).ALC}} / {{ (index .Ancestors 21).HD}}</div>
            </td>
        </tr>

        <tr>
            <td rowspan="2" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 22).Name}} / {{ (index .Ancestors 22).ALC}} / {{ (index .Ancestors 22).HD}}</div>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 23).Name}} / {{ (index .Ancestors 23).ALC}} / {{ (index .Ancestors 23).HD}}</div>
            </td>
        </tr>

        <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 24).Name}} / {{ (index .Ancestors 24).ALC}} / {{ (index .Ancestors 24).HD}}</div>
            </td>
        </tr>

        <tr>
            <td rowspan="4" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 25).Name}} / {{ (index .Ancestors 25).ALC}} / {{ (index .Ancestors 25).HD}}</div>
            </td>
            <td rowspan="2" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 26).Name}} / {{ (index .Ancestors 26).ALC}} / {{ (index .Ancestors 26).HD}}</div>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 27).Name}} / {{ (index .Ancestors 27).ALC}} / {{ (index .Ancestors 27).HD}}</div>
            </td>
        </tr>

        <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 28).Name}} / {{ (index .Ancestors 28).ALC}} / {{ (index .Ancestors 28).HD}}</div>
            </td>
        </tr>

        <tr>
            <td rowspan="2" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 29).Name}} / {{ (index .Ancestors 29).ALC}} / {{ (index .Ancestors 29).HD}}</div>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 30).Name}} / {{ (index .Ancestors 30).ALC}} / {{ (index .Ancestors 30).HD}}</div>
            </td>
        </tr>

        <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 31).Name}} / {{ (index .Ancestors 31).ALC}} / {{ (index .Ancestors 31).HD}}</div>
            </td>
        </tr>

        <tr>
            <td rowspan="16" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 32).Name}} / {{ (index .Ancestors 32).ALC}} / {{ (index .Ancestors 32).HD}}</div>
            </td>
            <td rowspan="8" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 33).Name}} / {{ (index .Ancestors 33).ALC}} / {{ (index .Ancestors 33).HD}}</div>
            </td>
            <td rowspan="4" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 34).Name}} / {{ (index .Ancestors 34).ALC}} / {{ (index .Ancestors 34).HD}}</div>
            </td>
            <td rowspan="2" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 35).Name}} / {{ (index .Ancestors 35).ALC}} / {{ (index .Ancestors 35).HD}}</div>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 36).Name}} / {{ (index .Ancestors 36).ALC}} / {{ (index .Ancestors 36).HD}}</div>
            </td>
        </tr>

        <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 37).Name}} / {{ (index .Ancestors 37).ALC}} / {{ (index .Ancestors 37).HD}}</div>
            </td>
        </tr>

        <tr>
            <td rowspan="2" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 38).Name}} / {{ (index .Ancestors 38).ALC}} / {{ (index .Ancestors 38).HD}}</div>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 39).Name}} / {{ (index .Ancestors 39).ALC}} / {{ (index .Ancestors 39).HD}}</div>
            </td>
        </tr>

        <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 40).Name}} / {{ (index .Ancestors 40).ALC}} / {{ (index .Ancestors 40).HD}}</div>
            </td>
        </tr>

        <tr>
            <td rowspan="4" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 41).Name}} / {{ (index .Ancestors 41).ALC}} / {{ (index .Ancestors 41).HD}}</div>
            </td>
            <td rowspan="2" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 42).Name}} / {{ (index .Ancestors 42).ALC}} / {{ (index .Ancestors 42).HD}}</div>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 43).Name}} / {{ (index .Ancestors 43).ALC}} / {{ (index .Ancestors 43).HD}}</div>
            </td>
        </tr>

        <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 44).Name}} / {{ (index .Ancestors 44).ALC}} / {{ (index .Ancestors 44).HD}}</div>
            </td>
        </tr>

        <tr>
            <td rowspan="2" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 45).Name}} / {{ (index .Ancestors 45).ALC}} / {{ (index .Ancestors 45).HD}}</div>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 46).Name}} / {{ (index .Ancestors 46).ALC}} / {{ (index .Ancestors 46).HD}}</div>
            </td>
        </tr>

        <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 47).Name}} / {{ (index .Ancestors 47).ALC}} / {{ (index .Ancestors 47).HD}}</div>
            </td>
        </tr>

        <tr>
            <td rowspan="8" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 48).Name}} / {{ (index .Ancestors 48).ALC}} / {{ (index .Ancestors 48).HD}}</div>
            </td>
            <td rowspan="4" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 49).Name}} / {{ (index .Ancestors 49).ALC}} / {{ (index .Ancestors 49).HD}}</div>
            </td>
            <td rowspan="2" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 50).Name}} / {{ (index .Ancestors 50).ALC}} / {{ (index .Ancestors 50).HD}}</div>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 51).Name}} / {{ (index .Ancestors 51).ALC}} / {{ (index .Ancestors 51).HD}}</div>
            </td>
        </tr>

        <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 52).Name}} / {{ (index .Ancestors 52).ALC}} / {{ (index .Ancestors 52).HD}}</div>
            </td>
        </tr>

        <tr>
            <td rowspan="2" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 53).Name}} / {{ (index .Ancestors 53).ALC}} / {{ (index .Ancestors 53).HD}}</div>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 54).Name}} / {{ (index .Ancestors 54).ALC}} / {{ (index .Ancestors 54).HD}}</div>
            </td>
        </tr>

        <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 55).Name}} / {{ (index .Ancestors 55).ALC}} / {{ (index .Ancestors 55).HD}}</div>
            </td>
        </tr>

        <tr>
            <td rowspan="4" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 56).Name}} / {{ (index .Ancestors 56).ALC}} / {{ (index .Ancestors 56).HD}}</div>
            </td>
            <td rowspan="2" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 57).Name}} / {{ (index .Ancestors 57).ALC}} / {{ (index .Ancestors 57).HD}}</div>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 58).Name}} / {{ (index .Ancestors 58).ALC}} / {{ (index .Ancestors 58).HD}}</div>
            </td>
        </tr>

        <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 59).Name}} / {{ (index .Ancestors 59).ALC}} / {{ (index .Ancestors 59).HD}}</div>
            </td>
        </tr>

        <tr>
            <td rowspan="2" class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 60).Name}} / {{ (index .Ancestors 60).ALC}} / {{ (index .Ancestors 60).HD}}</div>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 61).Name}} / {{ (index .Ancestors 61).ALC}} / {{ (index .Ancestors 61).HD}}</div>
            </td>
        </tr>

        <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <div class="qor-table__content">{{ (index .Ancestors 62).Name}} / {{ (index .Ancestors 62).ALC}} / {{ (index .Ancestors 62).HD}}</div>
            </td>
        </tr>

    </tbody>
    </table>
	{{end}}
    <!-- Here the own code ends! -->

</div>

      </main>
    <div class="mdl-layout__obfuscator"></div></div></div>

    
    <script src="/admin/assets/javascripts/qor_admin_default.js"></script>
    
    
  

<div id="dialog" style="display: none;">
                  <div class="mdl-dialog-bg"></div>
                  <div class="mdl-dialog">
                      <div class="mdl-dialog__content">
                        <p><i class="material-icons">warning</i></p>
                        <p class="mdl-dialog__message dialog-message">
                        </p>
                      </div>
                      <div class="mdl-dialog__actions">
                        <button type="button" class="mdl-button mdl-button--raised mdl-button--colored dialog-ok dialog-button" data-type="confirm">
                          ok
                        </button>
                        <button type="button" class="mdl-button dialog-cancel dialog-button" data-type="">
                          cancel
                        </button>
                      </div>
                    </div>
                </div><div class="qor-bottomsheets">
            <div class="qor-bottomsheets__header">
            <h3 class="qor-bottomsheets__title"></h3>
            <button type="button" class="mdl-button mdl-button--icon mdl-js-button mdl-js-repple-effect qor-bottomsheets__close" data-dismiss="bottomsheets">
            <span class="material-icons">close</span>
            </button>
            </div>
            <div class="qor-bottomsheets__body"></div>
        </div><div class="qor-slideout">
            <div class="qor-slideout__header">
                <div class="qor-slideout__header-link">
                    <a href="#" target="_blank" class="mdl-button mdl-button--icon mdl-js-button mdl-js-repple-effect qor-slideout__opennew"><i class="material-icons">open_in_new</i></a>
                    <a href="#" class="mdl-button mdl-button--icon mdl-js-button mdl-js-repple-effect qor-slideout__fullscreen">
                        <i class="material-icons">fullscreen</i>
                        <i class="material-icons" style="display: none;">fullscreen_exit</i>
                    </a>
                </div>
                <button type="button" class="mdl-button mdl-button--icon mdl-js-button mdl-js-repple-effect qor-slideout__close" data-dismiss="slideout">
                    <span class="material-icons">close</span>
                </button>
                <h3 class="qor-slideout__title"></h3>
            </div>
            <div class="qor-slideout__body"></div>
        </div></body></html>
