<!DOCTYPE html>
<html class="mdl-js" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>Ancestors - Dog Breeding</title>
    <link rel="shortcut icon" href="/admin/assets/images/logo.png">

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link type="text/css" rel="stylesheet" href="/admin/assets/stylesheets/qor_admin_default.css">


    <script src="/admin/assets/javascripts/vendors.js"></script>
    <style>
        .qor-menu-container {
            margin-left: 100px;
        }

        #content {
            margin-left: 10px;
        }

        .mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen) > .mdl-layout__header {
            margin-left: 0px;
            padding-left: 240px;
            width: 100%;
        }

        /* Make button back to dogs look nice: */
        .qor-menu > .active:hover > a,
        .qor-menu > .active:hover > a:focus,
        .qor-menu > .active:hover > a:hover,
        .qor-menu > .active > a,
        .qor-menu > .active > a:focus,
        .qor-menu > .active > a:hover {
            color: #0389a4;
            background-color: #eee;
            cursor: default;
        }

        .qor-page__body {
            margin-bottom: 1rem;
        }

        /* Make ancestor table look nice: */
        .mdl-data-table td {
            position: relative;
            height: 32px;
            max-height: 22px;
            border-top: 1px solid rgba(0, 0, 0);
            border-bottom: 1px solid rgba(0, 0, 0);
            border-left: 1px solid rgba(0, 0, 0);
            border-right: 1px solid rgba(0, 0, 0);
            padding: 3px 8px;
            box-sizing: border-box;
        }

        .mdl-data-table td:first-of-type {
            padding-left: 8px;
        }

        .mdl-data-table {
            border-collapse: separate;
        }

        .mdl-data-table tbody {
            border-top: 1px solid rgba(0, 0, 0);
        }

        .mdl-data-table tbody tr {
            height: 22px;
        }

        .mdl-data-table tbody tr:hover {
            background-color: #fff;
        }

        .mdl-data-table td:last-of-type, .mdl-data-table th:last-of-type {
            padding-left: 8px;
            padding-right: 8px;
        }

        .qor-layout .mdl-layout__content {
            padding-left: 0;
        }

        .qor-table {
            margin: 0 1rem;
        }

        .qor-table__content {
            overflow: visible;
            white-space: initial;
        }

        .qor-table__content, .qor-table__content p {
            max-height: 16px;
        }

        .qor-table td {
            font-size: 14px;
        }

        table {
            font-size: 14px;
            line-height: 16px;
        }

        .bad-value {
            color: red;
        }


    </style>
</head>

<body class="qor-theme-slideout">

<a class="visuallyhidden" href="#content" tabindex="1">Skip to content</a>

<div class="mdl-layout__container">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header qor-layout has-drawer is-upgraded"
         data-upgraded=",MaterialLayout">
        <header class="mdl-layout__header is-casting-shadow has-search">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Ancestors</span>

                <div class="qor-menu-container">
                    <ul class="qor-menu">
                        <li qor-icon-name="Dogs" class="active">
                            <a href="/admin/dogs">Dogs</a>
                        </li>
                    </ul>
                </div>

            </div>
        </header>


        <main class="mdl-layout__content qor-page" id="content">

            <div class="qor-page__body">

                <!-- Here the own code starts! -->
                {{if .Error}}
                <p> {{.Error}}</p>
                {{else}}
                <table class="mdl-data-table qor-table">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric ">Generation 1</th>
                        <th class="mdl-data-table__cell--non-numeric ">Generation 2</th>
                        <th class="mdl-data-table__cell--non-numeric ">Generation 3</th>
                        <th class="mdl-data-table__cell--non-numeric ">Generation 4</th>
                        <th class="mdl-data-table__cell--non-numeric ">Generation 5</th>
                        <th class="mdl-data-table__cell--non-numeric ">Generation 6</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td rowspan="32" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 0}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 0}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td rowspan="16" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 1}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 1}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td rowspan="8" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 2}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 2}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td rowspan="4" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 3}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 3}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>

                        <td rowspan="2" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 4}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 4}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 5}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 5}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 6}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 6}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="2" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 7}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 7}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 8}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 8}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 9}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 9}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="4" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 10}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 10}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td rowspan="2" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 11}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 11}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 12}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 12}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 13}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 13}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="2" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 14}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 14}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 15}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 15}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 16}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 16}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="8" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 17}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 17}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td rowspan="4" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 18}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 18}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td rowspan="2" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 19}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 19}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 20}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 20}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 21}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 21}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="2" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 22}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 22}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 23}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 23}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 24}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 24}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="4" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 25}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 25}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td rowspan="2" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 26}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 26}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 27}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 27}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 28}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 28}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="2" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 29}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 29}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 30}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 30}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 31}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 31}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="16" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 32}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 32}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td rowspan="8" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 33}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 33}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td rowspan="4" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 34}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 34}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td rowspan="2" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 35}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 35}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 36}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 36}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 37}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 37}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="2" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 38}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 38}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 39}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 39}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 40}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 40}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="4" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 41}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 41}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td rowspan="2" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 42}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 42}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 43}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 43}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 44}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 44}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="2" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 45}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 45}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 46}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 46}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 47}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 47}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="8" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 48}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 48}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td rowspan="4" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 49}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 49}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td rowspan="2" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 50}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 50}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 51}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 51}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 52}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 52}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="2" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 53}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 53}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 54}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 54}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 55}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 55}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="4" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 56}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 56}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td rowspan="2" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 57}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 57}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 58}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 58}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 59}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 59}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="2" class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 60}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 60}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 61}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 61}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{$count := index .Quantities 62}}
                            <div class="qor-table__content{{if and $count (gt $count 1)}} bad-value{{end}}">
                                {{$dog := index .Ancestors 62}}
                                {{if $dog}}{{$dog.Name}}
                                {{- if and $count (gt $count 1)}}: {{$count}}{{end}}
                                / {{$dog.ALC}} / {{$dog.HD}}
                                {{end}}
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
                {{end}}
                <!-- Here the own code ends! -->

            </div>

        </main>
        <div class="mdl-layout__obfuscator"></div>
    </div>
</div>


<script src="/admin/assets/javascripts/qor_admin_default.js"></script>


<div id="dialog" style="display: none;">
    <div class="mdl-dialog-bg"></div>
    <div class="mdl-dialog">
        <div class="mdl-dialog__content">
            <p><i class="material-icons">warning</i></p>
            <p class="mdl-dialog__message dialog-message">
            </p>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button mdl-button--raised mdl-button--colored dialog-ok dialog-button"
                    data-type="confirm">
                ok
            </button>
            <button type="button" class="mdl-button dialog-cancel dialog-button" data-type="">
                cancel
            </button>
        </div>
    </div>
</div>
<div class="qor-bottomsheets">
    <div class="qor-bottomsheets__header">
        <h3 class="qor-bottomsheets__title"></h3>
        <button type="button"
                class="mdl-button mdl-button--icon mdl-js-button mdl-js-repple-effect qor-bottomsheets__close"
                data-dismiss="bottomsheets">
            <span class="material-icons">close</span>
        </button>
    </div>
    <div class="qor-bottomsheets__body"></div>
</div>
<div class="qor-slideout">
    <div class="qor-slideout__header">
        <div class="qor-slideout__header-link">
            <a href="#" target="_blank"
               class="mdl-button mdl-button--icon mdl-js-button mdl-js-repple-effect qor-slideout__opennew"><i
                    class="material-icons">open_in_new</i></a>
            <a href="#" class="mdl-button mdl-button--icon mdl-js-button mdl-js-repple-effect qor-slideout__fullscreen">
                <i class="material-icons">fullscreen</i>
                <i class="material-icons" style="display: none;">fullscreen_exit</i>
            </a>
        </div>
        <button type="button" class="mdl-button mdl-button--icon mdl-js-button mdl-js-repple-effect qor-slideout__close"
                data-dismiss="slideout">
            <span class="material-icons">close</span>
        </button>
        <h3 class="qor-slideout__title"></h3>
    </div>
    <div class="qor-slideout__body"></div>
</div>
</body>
</html>
