<!DOCTYPE html>
<html lang="en-US">
  <!--
    ,-----.    ,-----.  ,------.
    '  .-.  '  '  .-.  ' |  .--. '
    |  | |  |  |  | |  | |  '--'.'
    '  '-'  '-.'  '-'  ' |  |\  \
    `-----'--' `-----'  `--' '--'
    ENTERPRISE CONTENT MANAGEMENT SYSTEM
  -->
  <head>
    {{$title := page_title}}
    <title>{{if $title}}{{$title}} - {{end}}{{if .Admin.SiteName}}{{t .Admin.SiteName}}{{else}}{{t "Qor Admin"}}{{end}}</title>
    <link rel="shortcut icon" href="/admin/assets/images/logo.png">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Stylesheets -->
    {{stylesheet_tag "fonts"}}
    {{stylesheet_tag "qor_admin_default"}}
    {{load_admin_stylesheets}}
    {{load_theme_stylesheets}}
    {{javascript_tag "vendors"}}
    <style>
      .qor-bottomsheets.is-slided {
        max-height: 50%;
      }
      .qor-bottomsheets.is-shown {
        width: 90%;
        margin-left: -45%;
      }
      .qor-bottomsheets.is-shown .qor-table-container .qor-table thead {
        display: table-header-group;
      }
      .qor-bottomsheets.is-shown .qor-table-container .qor-table tbody td {
        padding-left: 18px;
      }
      .qor-bottomsheets.is-shown .qor-table-container .qor-table tbody td:first-of-type {
        padding-left: 24px;
      }
      .qor-table tbody td .bad-value {
        color: red;
      }
     /* table.qor-table.mdl-data-table.qor-js-table thead {
       top: 16px!important;
      }
      .qor-table thead th {
      font-size:16px!important;
      }*/

      body div {
        font-family: Roboto,Helvetica,Arial,sans-serif;
      }


      @media print {
        .bad-value, .bad-value:before, .bad-value:after, .bad-value:first-letter {
            background:transparent!important;
            color:#F22!important;
            box-shadow:none!important
        }
      }
    </style>
  </head>

  <body class="{{if qor_theme_class}}{{qor_theme_class}}{{end}}">
    <!--[if lt IE 11]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <a class="visuallyhidden" href="#content" tabindex="1">{{t "qor_admin.layout.skip_to_content" "Skip to content"}}</a>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header qor-layout">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          {{$actions := load_actions "header" }}
          {{if $actions}}
            {{$actions}}
          {{end}}
        </div>
      </header>

      <div class="mdl-layout__drawer">
        {{render "shared/sidebar"}}
      </div>

      <main class="mdl-layout__content qor-page" id="content">
        {{.Content}}
      </main>
    </div>

    <!-- JavaScripts -->
    <script>
      QOR_Translations = window.QOR_Translations || {};
      QOR_Translations.okButton = '{{t "qor_admin.form.ok" "OK"}}'
      QOR_Translations.cancelButton = '{{t "qor_admin.form.cancel" "Cancel"}}'
      QOR_Translations.serverError = '{{t "qor_admin.form.serverError" "Server error, please try again later!"}}'
      QOR_Translations.slideoutCloseWarning = '{{t "qor_admin.slideout.close_warning" "You have unsaved changes on this slideout. If you close this slideout, you will lose all unsaved changes. Are you sure you want to close the slideout?"}}'
      QOR_Translations.slideoutCheckHTMLTagsError = '{{t "qor_admin.slideout.checkTagsError" "The rich editor HTML tags do not close properly!"}}'

    </script>
    {{javascript_tag "qor_admin_default"}}
    {{load_admin_javascripts}}
    {{load_theme_javascripts}}
  </body>
</html>
